:root {
  --HFGrey: #232325;
  --mainBlue: #41e0fd;
  --mainWhite: #ffffff;
}

.App {
  margin-top: 20px;
}

/* NavBar Elements */
.navbar {
  background: #232325;
}

.navbar-nav a:hover {
  color: #41e0fd !important;
  text-decoration: none;
}

.navbar-nav .nav-link.active {
  border-bottom: 0.5px solid #41e0fd;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

/* Home Elements */

.jumbotron {
  background-color: transparent !important;
}

.homeDiv {
  padding-top: 20vmin;
  padding-bottom: 15vmin;
}
.row {
  min-height: 50vh;
}

/* Animations */

.st0 {
  fill: #587890;
}
.st1 {
  fill: #6b90ad;
}
.st2 {
  fill: #74c0eb;
}
.st3 {
  fill: #f1f1f1;
}
.st4 {
  fill: #8f8f8f;
}
.st5 {
  fill: #ffffff;
}

svg #logo {
  animation-duration: 1.5s;
  animation-name: animateLogo;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animateLogo {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(90px);
    opacity: 1;
  }
}

#logo {
  opacity: 0;
}

/* Home Elements */

/* Media Styles */

@media only screen and (max-width: 600px) {
  .bottomNav {
    display: none !important;
  }
}

/* Older Phones */
@media only screen and (max-height: 650px) {
  .heroImage {
    display: none;
  }
  .homeDiv {
    padding-top: 20vh;
  }
}
