:root {
  --HFGrey: #232325;
  --mainBlue: #41e0fd;
  --mainWhite: #ffffff;
}

.App {
  margin-top: 20px;
}

/* NavBar Elements */
.navbar {
  background: #232325;
}

.navbar-nav a:hover {
  color: #41e0fd !important;
  text-decoration: none;
}

.navbar-nav .nav-link.active {
  border-bottom: 0.5px solid #41e0fd;
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

/* Home Elements */

.jumbotron {
  background-color: transparent !important;
}

.homeDiv {
  padding-top: 15vmin;
  padding-bottom: 15vmin;
  position: fixed;
}
.row {
  min-height: 50vh;
}
/* Media Styles */

.row {
  min-height: 50vh;
}

/* Modern Phones */

@media only screen and (max-width: 600px) {
  .bottomNav {
    display: none !important;
  }
}

/* Older Phones */
@media only screen and (max-height: 650px) {
  .heroImage {
    display: none;
  }
  .homeDiv {
    padding-top: 20vh;
  }
}
