:root {
  --HFGrey: #232325;
  --mainBlue: #41e0fd;
  --mainWhite: #bdbdbd;
  --mutedGrey: #6c757d;
  --mutedBlue: #17a2b8;
}

.App {
  margin-top: 20px;
  min-height: 100%;
}

/* NavBar Elements */
.navbar {
  background: #232325;
}

.navbar-nav a:hover {
  color: var(--mutedBlue) !important;
  text-decoration: none;
}
.navbar-nav .nav-link.active {
  border-bottom: 0.5px solid var(--mutedBlue);
}
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler {
  border: none;
}

.nostyle {
  border-bottom: none !important;
}

/* Home Elements */

.jumbotron {
  background-color: transparent !important;
}

.homeDiv {
  padding-top: 20vmin;
  padding-bottom: 3vmin;
}
.row {
  min-height: 50vh;
}
/* 
.btn-outline-info {
  color: var(--mainBlue);
  border-color: var(--mainBlue);
} */

/* Home Elements */

/* .footer-bottom {
  padding-bottom: 0.2rem;
  text-align: center;
  background: #232325;
  height: 15vh;
  margin-top: 5px;
  position: fixed;
} */
.st0 {
  fill: var(--mutedGrey);
}

.st0 {
  fill: var(--mutedGrey);
}

.socialIcons:hover .st0 {
  fill: var(--mutedBlue) !important;
}
/* Media Styles */

@media only screen and (max-width: 600px) {
  .bottomNav {
    display: none !important;
  }
}

/* Small screens */
@media only screen and (max-height: 650px) {
  .heroImage {
    display: none;
  }
  .homeDiv {
    padding-top: 20vh;
  }
  .socialIcons {
    width: 10vmin !important;
  }
}
