.details {
  color: var(--mainWhite);
}

.tabsContent {
  padding-top: 2vh;
}

.details a {
  color: var(--mutedBlue);
}

.details a:hover {
  color: var(--mainWhite);
}

.details .socialIcons:hover .st0 {
  fill: #bdbdbd !important;
}

.details .socialIcons .st0 {
  fill: #17a2b8;
}
