.details {
  color: var(--mainWhite);
}

.tabsContent {
  padding-top: 2vh;
}

.details a {
  color: var(--mutedBlue);
}

.details a:hover {
  color: var(--mainWhite);
}

.details .socialIcons:hover .st0 {
  fill: var(--mainBlue) !important;
}

.details .socialIcons .st0 {
  fill: var(--mutedBlue);
}

.details a.nav-item.nav-link.active {
  color: var(--mainBlue);
  background: var(--mutedGrey);
}

.details .carousel-inner img {
  margin: auto;
}
