.styles {
  background-color: #232325;
  text-align: "center";
  padding: "20px";
  position: "fixed";
  left: "0";
  bottom: "0";
  height: "10vh";
  width: "100%";
}

.phantom {
  display: "block";
  padding: "20px";
  height: "60px";
  width: "100%";
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .bottomNav {
    display: none !important;
  }
}
