body {
  background-image: url(../svgs/logo-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overscroll-behavior: none;
  color: #ffffff;
}
