@media all and (min-width: 480px) {
  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.Login {
  padding: 60px 0;
  padding-top: 30vmin;
  padding-bottom: 15vmin;
}

.Login form a {
  margin-bottom: 15px;
  display: block;
  font-size: 14px;
}

.btn-primary {
  background-color: var(--mutedBlue) !important;
  border-color: var(--mutedBlue) !important;
}
