.btn-primary {
  background-color: #17a2b8 !important;
  border-color: var(--mainBlue);
}

.settingsContent {
  color: var(--mutedGrey) !important;
  background-color: #232325;
}

.close {
  color: #ffffff !important;
  opacity: 1;
}
