.modal-backdrop {
  opacity: 0.8 !important;
}

.settingsContent {
  color: var(--mainWhite) !important;
  background-color: #232325;
}

.close {
  color: var(--mainWhite) !important;
  opacity: 1;
}

.settingsRows {
  min-height: 5vh;
}

.settingsColums {
  padding: 5vh;
}

.settingsParagraph {
  padding-top: 2vh;
  padding-bottom: 2vh;
}
